*{
  font-family: 'Inter', sans-serif;
  
}
/*      Home and Navbar Css       */
body{
  background-color: black;
}
.bg-Black{
  background-color: black;

}
.logo{
  width: 10%;
  height: 10%;

}
.ml{
  margin-left: 80px;
}
.mr{
  margin-right: 60px;
}

@media screen and (max-width: 780px){
  .mr{
    margin-right: 0px;
  }
  .ml{
    margin-left: 0px;
    margin-right: 45px;
    
  }
}


@media screen and (max-width: 480px){
  .logo{
    width: 20%;
    height: 20%;
  }
  .font-size{
    font-size:small;
  }
  .ml{
    /* margin-left: 0px; */
    margin-right: 0px;
    
  }
  .font-s{
    font-size: small;
  }
}

/*    Work Component Css      */

.input-w{
  width: 400px;
}
.file-input{
  width: 400px;
}
.submit-w{
  width: 150px;

}

.input-h{
  height: 200px;
}

 @media screen and (max-width: 480px){
  .input-w{
    width: 300px;
  }
  .file-input{
    width: 300px;
  
  }
} 

/*      File Input Css        */
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.file-input label {
  display: block;
  position: relative;
  width: 100%;
  height: 35px;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9c9c9c ;
  font-weight: bold;
  cursor: pointer;
}
.submit-color{
  background: #1e1e1e;
  color: #9c9c9c ;
  border: 0px;
}

.bg-grey{
  background: #1e1e1e;
  border: 0px;

}

div ul {
  list-style-type: none;
}

/* form input{
  width: 100%;
} */


